 * {
     margin: 0%;
     padding: 0%;
     text-decoration: none;
     font-weight: normal;
     text-transform: capitalize;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 body {
     background-image: url(/web.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     color: aliceblue;
 }
 
 .container {
     div {
         margin-bottom: 10px;
     }
 }
 
 .col-lg-5 {
     width: 25%;
 }
 
 .row {
     display: flex;
 }
 
 .registration {
     margin-top: 50px;
     width: 40%;
     height: 95vh;
     background-color: rgb(10, 128, 128);
     border-radius: 20px;
     margin-bottom: 10px;
 }
 
 .h1 {
     h1 {
         padding: 40px 0px 20px 0px;
         font-size: 35px;
     }
 }
 
 .container {
     div {
         input {
             width: 50%;
             height: 30px;
             background-color: transparent;
             border: 1px solid white;
         }
     }
 }
 
 input {
     color: white;
     padding-left: 20px;
 }
 
 .container {
     div {
         label {
             font-size: 23px;
             text-align: left;
             margin: 0px 0px 0px 0px;
         }
     }
 }
 
 #address {
     input {
         width: 22%;
     }
 }
 
 .btn {
     button {
         width: 120px;
         height: 35px;
         margin-left: 20px;
         background-color: rgb(2, 71, 28);
         border: 1px solid green;
         font-size: 18px;
         color: white;
         padding: 5px 0px 5px 0px;
         letter-spacing: 1px;
         margin-top: 20px;
         border-radius: 20px;
         cursor: pointer;
     }
 }
 
 span {
     letter-spacing: 2px;
     margin-top: 20px;
     color: white;
 }
 
 div {
     select {
         width: 50%;
         height: 35px;
         font-size: 20px;
     }
 }
 
 div {
     textarea {
         font-size: 20px;
         padding-left: 20px;
         color: red;
     }
 }